

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  text-align: center;
}

.header {
  grid-area: header;
}


.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "....... header header"
    "sidebar content content"
;
  height: 100vh;
  background-color: #fff;
  color: #444;
  margin-right: 20px;
}


.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}
.boxForm {
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 50px 1fr 50px;
  grid-gap: 10px;
  align-items: center;
  grid-template-areas:
        "..  warn  .."
        ".. inform .."
        ".. ...... ..";
  justify-items: center;
}
.inform {
  grid-column: inform;
  grid-row: inform;
  display: grid;
  grid-gap: 10px;
}
.warningBox {
  border: darkcyan 3px solid;
  border-radius: 10px;
  grid-column: warn;
  grid-row: warn;
  padding: 10px;
}

.header,
.footer {
  background-color: #999;
}

.right {
  text-align: right;
}
.center {
  text-align: center;
}
.margin {
  margin-left: 20px;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./webfonts/fa-regular-400.eot");
  src: url("./webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("./webfonts/fa-regular-400.woff2") format("woff2"), url("./webfonts/fa-regular-400.woff") format("woff"), url("./webfonts/fa-regular-400.ttf") format("truetype"), url("./webfonts/fa-regular-400.svg#fontawesome") format("svg"); }

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  display: block;
  font-weight: 400;
  line-height: 1.5;
  margin: 20px 0;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: gray;
  border: 1px solid black;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}


.far {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
.fa-eye:before {
  content: "\f06e"; }

.fa-eye-dropper:before {
  content: "\f1fb"; }

.fa-eye-slash:before {
  content: "\f070"; }

